.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  color: #fff;
  font-size: 4.0rem;
  margin-bottom: 1.5rem;
}

p {
  font-weight: 500;
  color: #f0f0f0;
  font-size: 1.3rem;
  letter-spacing:0.09rem;
}




